@charset "UTF-8";
/* CSS Document */
body { 
	background-color: #FFFFFF}

h1 {display:inline;
}

a {
	text-decoration: none;
	background-color: #04B5B5;
	color: #1A1919;
	padding-left: 10px;
	padding-right: 10px;
	align-content: center
}

a:hover {
	background-color: #328B6E;
	color: #FFFFFF;
	opacity: 0.5;
	transition: all 1s;
	margin-left: 30px;
	
}

div {
	background-image: url("../Desktop/three/harrypotter.jpg");
	background-size:contain;
	width: 400px;
	height: 300px;


}
.secondimage {
	background-image: url("../Desktop/three/dogs.jpg");
	background-size:contain;
	width: 400px;
	height: 300px;
}
	.thirdimage {
	background-image: url("../Desktop/three/cartoon.jpg");
	background-size:contain;
	width: 400px;
	height: 300px;
}
.fourthimage {
	background-image: url("../Desktop/three/dodger.jpg");
	background-size:contain;
	width: 400px;
	height: 300px;
}
.fifthimage {
	background-image: url("../Desktop/three/pineapple.jpg");
	background-size:contain;
	width: 400px;
	height: 300px;
}
div:hover {
	transform: scale(40px);
	margin-left: 30px;
	transition: all 1s;
}
	

